    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]

    <IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary:  Accept-Encoding: gzip, compress, br
  </FilesMatch>
</IfModule>

<filesMatch ".(js|css|jpg|jpeg|png|gif|js|css|ico|swf)$">
               Header set Cache-Control "max-age=31536000, public"
               Header unset Last-Modified
               Header unset ETag
           </filesMatch>
