.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    padding: 0;
    &__img {
      width: 200px;
      height: 150px;
    }
  }
  &__nav {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: block;
      margin-left: 25px;
      font-size: 15px;
      font-weight: bold;
      color: $primarycolor;
      &:hover {
        color: $secondarycolor;
        border-bottom: 2px solid $secondarycolor;
        //padding-bottom: 10px;
      }
    }
  }
}
